*
{
	margin:0px;
	padding:0px;
	font-family:Helvetica, Arial, sans-serif;
}
a
{
	text-decoration:none;
	color:yellow;
	transition:color 0.5s;
}
a:hover{color:red;}

div#info
{
	position:fixed;
	bottom:0px;
	left:0px;
	width:100%;
	height:20px;
	background-color:#111;
}
div#info>div
{
	padding:2px;
	font-size:small;
	color:white;
}
div#info>div.titlebar
{
	float:left;
}
div#info>div.contact
{
	float:right;
}


/*===============================*/



div#main-wrapper
{
	margin:50px;
}